.avatar {
    border-radius: 120px;
}

.info-card {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 45%;
    margin-top: 3rem;
    background: rgba(196, 196, 196, 0.08);
    border-radius: 31px;
}

.info-description {
    list-style: none;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 20px;
    padding-left: 30px;
    color: #ffffff;
}

.info-description li {
    margin-top: 20px;
}

.info-description a {
    color: #ffffff;
    font-size: 40px;
    margin-right: 10px;
}