.title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 50%;
    height: 90vh;
    background: #05445E;
    width: 45%;
    padding-left: 7rem;
}

.tilte-buttons {
    padding-top: 40px;
}

.tilte-buttons a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    padding: 20px;
}

.cv-btn {
    color: #D4F1F4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    border: 1px solid #75E6DA;
    box-sizing: border-box;
}

.contact-btn {
    color: #05445E;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    background: #75E6DA;
}