.navbar-list {
    list-style: none;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    padding: 40px 81px 0px 0px;
}

.navbar-list li {
    padding: 20px;
}

.navbar-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
}