@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.container-fluid {
    display: block;
    width: 100%;
    height: 90vh;
}

.container {
    display: block;
    height: 100vh;
    margin-left: 18rem;
    margin-right: 18rem;
}

body {
    background-color: #004967;
}