html,
body,



header {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin: 0px;
}
.bg-header {
    height: 100%;
    background: url('img/backgroundbetter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.nav-item {
    margin: 10px;
    padding-right: 20px;  
    font-size: 1.3em;
}
.intro {
    margin-top: 300px;
    color: white;
}
.intro > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5em;
    text-shadow: 4px 4px rgb(0, 0, 0, 50%);
}
.intro > button {
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 5px rgb(11, 89, 172);
}

.intro > a > button {
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 5px rgb(11, 89, 172);
}

.icons {
    margin: 10px;
}

.icons > a > i {
    color: white;
    margin: 5px;
}

.title {
    color: rgb(44, 240, 247);
}
.info {
    height: 50%;
}
.title-about {
    padding-top: 125px;
}
.typed-cursor {
    opacity: 0 !important;
}
.about {
    color: black;
    padding: 10px;
    background: rgb(245, 245, 245);
}
.about > div > h1 {
    font-size: 5em;
}
.about > div > p {
    font-size: 16px;
}
.info-me {
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-top: 150px;
    margin-bottom: 150px;
    box-shadow: 1px 1px 5px rgb(71, 71, 71);
}
.pro-image {
    margin-right: 30px;
}
.projects {
    height: 100vh;
    padding-top: 30px; 
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.projects > h2 {
    font-size: 5rem;
}

.link {
    text-decoration: none !important;
    padding: 20px;
    text-transform: uppercase;
    margin: 15px;
    color: white;
    background: rgb(38, 141, 250);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.link:hover {
    background: rgb(1, 58, 119);
    color: rgb(250, 250, 102);
}
.carousel-caption {
    padding-bottom: 100px;
    padding-top: 0px !important;
}
.project-title {
    margin-bottom: 35px;
    font-size: 3rem;
    color: #ffffff;
}
.project-video-template {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8827906162464986) 53%, rgba(42,118,193,0.76234243697479) 100%), 
    url("../src/img/template-google-api.jpg");    
}

.project-monsters {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8827906162464986) 53%, rgba(42,118,193,0.76234243697479) 100%), 
    url("../src/img/monsters.jpg");
}

.project-calculator-react {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8827906162464986) 53%, rgba(42,118,193,0.76234243697479) 100%), 
    url("../src/img/calculator.jpg");
}

.project-weather-react {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8827906162464986) 53%, rgba(42,118,193,0.76234243697479) 100%), 
    url("../src/img/weather.jpg");
}

.project-to-do-react {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(330deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8827906162464986) 53%, rgba(42,118,193,0.76234243697479) 100%), 
    url("../src/img/ToDo.jpg");
}

.dark {
    filter: brightness(50%);
}

.swiper {
    width: 100%;
    height: 89%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer {
    height: 10vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
}

#footer .row {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 600px) {
    .intro > h1 {
        font-size: 3em;
    }
    .intro {
        margin-top: 100px;
        color: white;
    }
}

